html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* sass --watch resources/sass/app.scss:resources/css/app.css */ 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

//Fontes
@font-face {
    font-family: 'd-din-proheavy';
    src: url('../fonts/d-din-pro-900-heavy-webfont.woff2') format('woff2'),
         url('../fonts/d-din-pro-900-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'd-din-proextrabold';
    src: url('../fonts/d-din-pro-800-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/d-din-pro-800-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'd-din-probold';
    src: url('../fonts/d-din-pro-700-bold-webfont.woff2') format('woff2'),
         url('../fonts/d-din-pro-700-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'd-din-prosemibold';
    src: url('../fonts/d-din-pro-600-semibold-webfont.woff2') format('woff2'),
         url('../fonts/d-din-pro-600-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'd-din-promedium';
    src: url('../fonts/d-din-pro-500-medium-webfont.woff2') format('woff2'),
         url('../fonts/d-din-pro-500-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'd-din-proregular';
    src: url('../fonts/d-din-pro-400-regular-webfont.woff2') format('woff2'),
         url('../fonts/d-din-pro-400-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'din_procondensed_regular';
    src: url('../fonts/din_pro_condensed_regular_400-webfont.woff2') format('woff2'),
         url('../fonts/din_pro_condensed_regular_400-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
$dinproproheavy:'d-din-proheavy';
$dinproextrabold:'d-din-proextrabold';
$dinprobold:'d-din-probold';
$dinprosemibold:'d-din-prosemibold';
$dinpromedium: 'd-din-promedium';
$dinproregular:'d-din-proregular';
$dinprocondensed:'din_procondensed_regular';

$branco: #FFFFFF;
$caramelo: #F2CB9A;
$cinza: #CDCDCD;
$laranja: #F05539;
$preto: #212121;

body {
	line-height: 1;
    background: $branco;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.row{
	-bs-gutter-x: 0rem;
}